$colorPrincipal: #4c4eaf;
$colorTexto: #333;
$colorAmarillo: #555553;
$colorBarraProgreso: #2c356f;
* {
    background-color: #b7b5fb;
    padding: 0;
    margin: 0;
}
.class {
    margin: 20px;
    padding: 20px;
    border: 1px solid $colorPrincipal;
    p {
        color: $colorTexto;
        font-weight: bold;
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            margin: 30px 30px 10px 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            .item-container {
                display: flex;
                width: 100%;

                .span-txt {
                    margin-bottom: 10px; 
                    width: 100%; 
                }

                div {
                    width: 50%;
                }
            }

            .input-barra {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                width: 100%;
                height: 20px;
                border: 1px solid $colorPrincipal;
                border-radius: 5px;
                background: linear-gradient(to right, $colorAmarillo, $colorAmarillo);
                outline: none;
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 20px;
                    height: 20px;
                    background: $colorAmarillo;
                    border-radius: 0;
                    cursor: pointer;
                }
            }
        }
    }
    progress {
        width: 100%;
        height: 20px;
        border: 1px solid $colorPrincipal;
        border-radius: 5px;

        &::-webkit-progress-value {
            background-color: $colorBarraProgreso;
            border-radius: 5px;
        }
    }
    &::-webkit-progress-bar {
        background-color: #fff;
        border-radius: 5px;
    }
    
    @media screen and (max-width: 768px) {
        .class {
            ul {
                li {
                    .item-container {
                        flex-direction: column;
                        align-items: flex-start; 
                        .span-txt {
                            width: 100%; 
                        }
                        div {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
